* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #af1313;
    --color-secundario: #8f0808;
    --color-fondo: #e6a0a0;
    --color-texto: #000000;
    --color-acento: #940404;
    --color-alterno: #c94545;

    --fuente-principal: "Segoe IU, tahoma, verdana";

    --padding: 1rem;
    --borde: 8px;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: start;
}

.contenedor {
    width: 100%;
    max-width: 1000px;
    min-height: auto;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;

    grid-template-areas: "header        header      header"
        "contenido     contenido                    sidebar"
        "contenido      contenido                   sidebar"
        "footer             footer                  footer";

}


.contenedor .header {
    grid-area: auto;
}

.contenedor .contenido {
    grid-area: auto;
}

.contenedor .sidebar {
    grid-area: auto;
}

.contenedor .footer {
    grid-area: auto;
}

.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background-color: var(--color-fondo);
    padding: 20px;
    border-radius: var(--borde);
    box-shadow: var(--shadow);
}

.contenedor .header {
    background-color: var(--color-principal);
    color: #fff;
    grid-area: header;
}

.header__titulo {
    font-size: 2rem;
}

.contenedor .contenido h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contenedor .contenido p {
    margin-bottom: 1rem;
}

.contenedor .sidebar {
    background-color: var(--color-alterno);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    text-align: center;
    grid-area: sidebar;
}

.contenedor .footer {
    background-color:var(--color-secundario);
    color: #fff;
    text-align: center;
    grid-area: footer;
}

.contenedor .footer__texto {
    margin-bottom: 10px;
}

.boton__descripcion {
  background-color: var(--color-acento);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: var(--borde);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

boton__descripcion:hover {
  background-color: var(--color-acento);
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

aside {
    animation: slideInFromLeft 1.5s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
    .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "contenido"
      "sidebar"
      "footer";
  }
}
