.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header        header      header"
                         "sidebar     contenido   contenido"
                         "sidebar       contenido     contenido"
                         "footer        footer      footer";
    
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background-color: #12203E;
    color: #fff;
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .contenido{
     grid-column: span 2;
    grid-area: contenido;
    
}

.contenedor .sidebar{
    background-color: #fa3d3d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
     grid-row: span 2; 
    grid-area: sidebar;
}


.contenedor .footer{
    background-color: var(--color-principal);
    color: #fff;
     grid-column: span 3; 
    grid-area: footer;
}


